{% extends "base.html" %}

{% block content %}
<h3 class="text-warning bg-dark" style='text-align:center;'>About SPCA Krishnagiri,Hosur.</h3>
<p class='mt-3'>"Society for the Prevention of Cruelty to Animals (SPCA) is a Animal Welfare Organizations around the world. SPCA organizations operate independently of each other and campaign for Animal Welfare, assist in the prevention of cruelty to Animals cases, Rehabilitation and finding homes for Maltreated and unwanted Animals that can be re-established into new homes. Policies regarding animal euthanasia, handling feral cats, and similar issues vary by organization. All SPCAs around the world are independent of one another and are not affiliated in any way. Every SPCA has its own governing policies and organizational goals. "</p>

<h5 style='color:red;text-align:right;'>SPCA Krishnagiri -Animal Husbandry Department</h5>

{% endblock content %}
