{% extends  'base.html' %}
{% block content %}
{% load static %}
<div class='container-fluid'>

<h1 class="display-5 bg-dark text-warning font-weight-bold text-center">15 Animal Rights in India That Every Citizen Should Know</h1>

<p class='text-center indianbg'>

<img style='width:20rem;' src='{% static "spcagallery/animallaw.png" %}'>

</p>

<div>
<hr> </hr>
<p class="h3 bg-light-blue"><span class='text-danger bg-dark'><i class="fa fa-gavel" aria-hidden="true"></i>
</span> It is the fundamental duty of every citizen of India to have compassion for all living creatures. Article 51A(g).</p>
<hr> </hr>
<p class="h3 bg-light-blue"><span class='text-danger bg-dark'><i class="fa fa-gavel" aria-hidden="true"></i>
</span>To kill or maim any animal, including stray animals, is a punishable offence. IPC Sections 428 and 429.</p>

<hr> </hr>
<p class="h3 bg-light-blue"><span class='text-danger bg-dark'><i class="fa fa-gavel" aria-hidden="true"></i>
</span>Abandoning any animal for any reason can land you in prison for up to three months. Section 11(1)(i) and Section 11(1)(j), PCA Act, 1960.</p>

<hr> </hr>

<p class="h3 bg-light-blue"><span class='text-danger bg-dark'><i class="fa fa-gavel" aria-hidden="true"></i>
</span>No animal (including chickens) can be slaughtered in any place other than a slaughterhouse. Sick or pregnant animals shall not be slaughtered. Rule 3, of Prevention of Cruelty to Animals, (Slaughterhouse) Rules, 2001 and Chapter 4, Food Safety and Standards Regulations, 2011.</p>

<hr> </hr>
<p class="h3 bg-light-blue"><span class='text-danger bg-dark'><i class="fa fa-gavel" aria-hidden="true"></i>
</span> Stray dogs that have been operated for birth control cannot be captured or relocated by anybody including any authority. ABC Rules, 2001.</p>

<hr> </hr>
<p class="h3 bg-light-blue"><span class='text-danger bg-dark'><i class="fa fa-gavel" aria-hidden="true"></i>
</span> Neglecting an animal by denying her sufficient food, water, shelter and exercise or by keeping him chained/confined for long hours is punishable by a fine or imprisonment of up to 3 months or both. Section 11(1)(h), PCA Act, 1960.</p>

<hr> </hr>
<p class="h3 bg-light-blue"><span class='text-danger bg-dark'><i class="fa fa-gavel" aria-hidden="true"></i>
</span> Monkeys are protected under the Wildlife (Protection)Act, 1972 and cannot be displayed or owned.</p>

<hr> </hr>
<p class="h3 bg-light-blue"><span class='text-danger bg-dark'><i class="fa fa-gavel" aria-hidden="true"></i>
</span> Bears, monkeys, tigers, panthers, lions and bulls are prohibited from being trained and used for entertainment purposes, either in circuses or streets. Section 22(ii), PCA Act, 1960.</p>

<hr> </hr>
<p class="h3 bg-light-blue"><span class='text-danger bg-dark'><i class="fa fa-gavel" aria-hidden="true"></i>
</span> Animal sacrifice is illegal in every part of the country. Rule 3, Slaughterhouse Rules, 2001.</p>

<hr> </hr>
<p class="h3 bg-light-blue"><span class='text-danger bg-dark'><i class="fa fa-gavel" aria-hidden="true"></i>
</span>Organizing of or participating in or inciting any animal fight is a cognizable offence. Section 11(1)(m)(ii) and Section 11(1)(n), PCA Act, 1960.</p>

<hr> </hr>
<p class="h3 bg-light-blue"><span class='text-danger bg-dark'><i class="fa fa-gavel" aria-hidden="true"></i>
</span> Cosmetics tested on animals and the import of cosmetics tested on animals is banned. Rules 148-C and 135-B of Drugs & Cosmetics Rules, 1945.</p>
<hr> </hr>
<p class="h3 bg-light-blue"><span class='text-danger bg-dark'><i class="fa fa-gavel" aria-hidden="true"></i>
</span> Teasing, feeding or disturbing the animals in a zoo and littering the zoo premises is an offence punishable by a fine of Rs. 25000 or imprisonment of up to three years or both. Section 38J, Wildlife (Protection) Act, 1972.</p>
<hr> </hr>
<p class="h3 bg-light-blue"><span class='text-danger bg-dark'><i class="fa fa-gavel" aria-hidden="true"></i>
</span> Capturing, trapping, poisoning or baiting of any wild animal or even attempting to do so is punishable by law, with a fine of up to Rs. 25000 or imprisonment of up to seven years or both. Section 9, Wildlife (Protection) Act, 1972.</p>
<hr> </hr>
<p class="h3 bg-light-blue"><span class='text-danger bg-dark'><i class="fa fa-gavel" aria-hidden="true"></i>
</span>  Disturbing or destroying eggs or nests of birds and reptiles or chopping a tree having nests of such birds and reptiles or even attempting to do so constitutes to hunting and attracts a punishment of a fine of up to Rs. 25000, or imprisonment of up to seven years or both. Section 9, Wildlife (Protection) Act, 1972.</p>
<hr> </hr>
<p class="h3 bg-light-blue"><span class='text-danger bg-dark'><i class="fa fa-gavel" aria-hidden="true"></i>
</span> Conveying or carrying animals whether in or upon any vehicle, in any manner or position which causes discomfort, pain or suffering is a punishable offence under two Central Acts. Section 11(1)(d) Prevention of Cruelty to Animals, (Transport of Animal) Rules, 2001 and Motor Vehicles Act 1978.</p>

<hr> </hr>
</div>

</div>
{% endblock content %}
